body{
    text-align: center;
    
}
h1{
    color: blue;
}
table{
    width: 60%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
th,tfoot{
    background-color: lightblue;
    font-weight: 700;
    height: 80px;
    font-size: large;
    border-left: 1px solid rgb(36, 0, 128);
    border-bottom: 1px solid green;
    border-top: 1px solid green;
}
th:last-child{
    border-right: 1px solid green;
}
tr{
    height: 50px;
}
td{
    padding: 20px;
    text-align: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
td:last-child{
    border-right: 1px solid black;
}