/* Properties for other selectors */
* {
	padding: 0;
	margin: 0;
	color: pink;
}
  
.container {
	min-height: 100vh;
	background-color:bisque;
}
  
.letters {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	margin-bottom: 20px;
	text-transform:uppercase;
	font-size: 60px;
	
}
.letters p{
	text-align: center;
	background-color: rgb(250, 150, 100);
	width: 70px;
	margin-right: 1.5px;
	border-radius: 15%;
	border-color: rgb(250, 125, 75);
	border-style: solid;
}
.letters:hover p:nth-child(even){
	transform: rotateY(360deg);
	transition: 0.2s;

}
.letters:hover p:nth-child(odd) {
  transform: rotateX(720deg);
  transition: 1.5s;
}

/* Add rules for the element 'p' present inside the class 'letters' using descendant selector */


/* Add rules for steps 8 and 9 */


/* Add rules for steps 10 and 11 */
.clock {
  width: 200px;
  height: 200px;
  border: 5px solid blue;
  border-radius: 50%;
  position: relative;
}

.hand {
  width: 2px;
  height: 90px;
  background-color: red;
  border: 1px solid white;
  position: absolute;
  top: 10px;
  left: 50%;
  transform-origin: bottom center;
}

/* Animasyon tanımlamaları */
.hours {
  animation: cycle 60s infinite linear; /* saatler için yavaş döngü */
}

.minutes {
  animation: cycle 6s infinite linear;  /* dakikalar için hızlı döngü */
}

/* Keyframes ile dönüş hareketi */
@keyframes cycle {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
