body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px; /* sol-sağ boşluk ekledik */
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}
header,footer{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}
/* Useful Links section */
section ol {
    padding-left: 20px; /* ordered list için sol boşluk */
    margin-top: 10px;
}

section ol li {
    margin-bottom: 10px; /* satırlar arası boşluk */
    line-height: 1.5;    /* okunabilirliği artırır */
}

section ol li a {
    text-decoration: none;
    color: #2c3e50;
    transition: 0.3s;
}

section ol li a:hover {
    color: #e74c3c;
    text-decoration: underline;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
     text-decoration: underline;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    text-decoration: underline;
    color:#e74c3c ;
}
button{
  background: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #c0392b; /* biraz daha koyu kırmızı */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
button:focus {
    outline: 2px solid #e74c3c;
    outline-offset: 2px;
}
table{
  
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;

}
table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #fff;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

#gallery img {
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

/* Form stili */
form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  max-width: 500px;
  margin: 20px auto;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


form button {
  width: 100%;
}
